<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itCat.crmEX.workbench.mapper.CustomerMapper">
    <insert id="insertCustomer" parameterType="com.itCat.crmEX.workbench.domain.Customer">
        insert into `tbl_customer`
        (id, owner, name, grade, phone, website, industry, description, address, createBy, createTime)
            value (#{id}, #{owner}, #{name}, #{grade}, #{phone}, #{website}, #{industry}, #{description}, #{address},
                   #{createBy}, #{createTime})
    </insert>
</mapper>