<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itCat.crmEX.workbench.mapper.TransactionMapper">
    <insert id="insertTransaction" parameterType="com.itCat.crmEX.workbench.domain.Transaction">
        insert into `tbl_transaction`
        (id, owner, amountOfMoney, name, expectedClosingDate, customerId, stage, type, source, activityId, contactsId,
         description, createBy, createTime, contactSummary, nextContactTime)
            value (#{id}, #{owner}, #{amountOfMoney}, #{name}, #{expectedClosingDate}, #{customerId}, #{stage}, #{type},
                   #{source}, #{activityId}, #{contactsId}, #{description}, #{createBy}, #{createTime},
                   #{contactSummary, nextContactTime})
    </insert>
</mapper>